<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Amazing website</title>
  </head>
  <body>
    <h1>Welcome to glorious <i>Hattusha</i></h1>
    <h3>You are welcome to <button type="button" onclick="enterCity()">Enter</button></h3>
    <img id="gate" src="/images/gate.jpg" alt="entrance to the ancient city of hattusha, a marvelous gate made of limestone, decorated with pillars of marble and endowed with colorful murals"> 
    <script>
      function enterCity() {
        const message = "<%- message %>";
        alert(message);
        
        document.getElementById("gate").src = "/images/city.jpg";
      }
    </script>
  </body>
</html>
